<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2012 Andrew Neal
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mp3.music.player.us"
    android:versionCode="2"
    android:versionName="1.0" >

    <!-- Gingerbread to Jelly Bean -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <!-- Used for caching and creating new playlists -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Used to check for a network connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to download images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to keep the service running when the phone sleeps -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- The main service uses a sticky broadcast -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Lower or raise the music based on the phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Used to set the devices's ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Used to create launcher shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- Used to check if the app is in the background -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    
    

    <!-- This is needed for isWiredHeadsetOn() to work in some cases. (bug?) -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- AD NETWORK PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mp3.music.player.us.app.MusicPlayerApp"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:hardwareAccelerated="@bool/config_hardwareAccelerated"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:taskAffinity="mp3.music.player.us.task" >

        <!-- Searchable -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.activities.SearchActivity" />
        <!-- Main activity -->
        <activity
            android:name=".ui.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Equalizer -->
        <activity android:name=".ui.activities.CustomEqualizer" />
        <!-- Now playing -->
        <activity
            android:name=".ui.activities.AudioPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="media" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="mp3.music.player.us.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Profile phone Activity -->
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Apollo.Theme.Light" />
        <!-- Shortcut launcher Activity -->
        <activity
            android:name=".ui.activities.ShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Search interface -->
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- MOBILECORE -->
        <service
            android:name="com.ironsource.mobilcore.MobileCoreReport"
            android:enabled="true"
            android:exported="false"
            android:process=":mcServiceProcess" />

        <receiver
            android:name="com.ironsource.mobilcore.InstallationTracker"
            android:enabled="true"
            android:process=":installationTracker" />
        
        <activity android:name="com.ironsource.mobilcore.InterstitialVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:keepScreenOn="true"/>

        <!-- Used to set options -->
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/Apollo.Theme.Dark" />
        <!-- Themes Activity -->
        <activity
            android:name=".ui.activities.ThemesActivity"
            android:excludeFromRecents="true" />
        <!-- 4x1 App Widget -->
        <receiver
            android:name="mp3.music.player.us.appwidgets.AppWidgetSmall"
            android:exported="false"
            android:label="@string/app_widget_small" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_small" />
        </receiver>
        <!-- 4x2  App Widget -->
        <receiver
            android:name="mp3.music.player.us.appwidgets.AppWidgetLarge"
            android:enabled="@bool/has_honeycomb"
            android:exported="false"
            android:label="@string/app_widget_large" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_large" />
        </receiver>
        <!-- 4x2 alternate App Widget -->
        <receiver
            android:name="mp3.music.player.us.appwidgets.AppWidgetLargeAlternate"
            android:enabled="@bool/has_honeycomb"
            android:exported="false"
            android:label="@string/app_widget_large_alt" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_large_alternate" />
        </receiver>
        <!-- Resizable recently listened App Widget -->
        <receiver
            android:name="mp3.music.player.us.appwidgets.RecentWidgetProvider"
            android:enabled="@bool/has_honeycomb"
            android:exported="false"
            android:label="@string/app_widget_recent" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_recents" />
        </receiver>
        <!-- The service serving the RemoteViews to the recently listened App Widget -->
        <service
            android:name="mp3.music.player.us.appwidgets.RecentWidgetService"
            android:enabled="@bool/has_honeycomb"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <!-- Media button receiver -->
        <receiver android:name=".MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <!-- Music service -->
        <service
            android:name=".MusicPlaybackService"
            android:label="@string/app_name"
            android:process=":main" />
        <!-- mopub ad -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />


        
        
        
      
        
        
		<!-- Google play services integration start -->
		<!-- the addition of this element is required for supporting Google play services. Please ensure not to use it twice -->
<meta-data
            android:name="com.google.android.gms.version"
            android:value="5077000" />
		<!-- Google play services integration end -->
		


	<!-- Appnext -->
	<service android:name="com.appnext.appnextsdk.DownloadService"/>
	
	
	
	
        
		<!-- Mobilecore Manifest declaration start -->
		<service
            android:name="com.ironsource.mobilcore.MobileCoreReport"
            android:enabled="true"
            android:exported="false"
            android:process=":mcServiceProcess" />

        <receiver
            android:name="com.ironsource.mobilcore.InstallationTracker"
            android:enabled="true"
            android:process=":installationTracker" />
		
        
        
        
		<!-- Revmob -->
		<meta-data android:name="com.revmob.app.id" android:value="5433b352053d33220787aa51"/>
        <activity android:name="com.revmob.ads.fullscreen.FullscreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent">
        </activity>
		
        
        <!-- Startapp -->
        <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
          android:theme="@android:style/Theme" />

<activity android:name="com.startapp.android.publish.AppWallActivity"
          android:theme="@android:style/Theme.Translucent"
          android:configChanges="orientation|keyboardHidden|screenSize" />
        



    </application>

</manifest>